h2{
  margin-bottom: 5px;
}
.commentsBoard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}


.card {
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 10px;
}

.comment {
  width: 800px;
  margin-bottom: 10px;
  padding:10px;
}

.buttonComment{
  margin-left:5px;
  background-color: rgb(96, 191, 255);

}
