.fondo{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 7.5%;
  padding-left: 7.5%;
}

p{

 display: flex;
 padding-right: 7.5%;
 padding-left: 7.5%;
 padding-top:20px;
}


.fotosDescripcion{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 7.5%;
  padding-left: 7.5%;


}


