<div class="fondo">
  <img src="assets/fondo.jpg" alt="logo" style=" max-width: 25%; height: auto; width: 25%; padding:25px; ">
</div>

<div>
  <h1 style="display: flex; justify-content: center; align-items: center;"> QUIÉN SOY</h1>
  <p>BIENVENIDOS CHIC@S!!! Encantadísima de que estéis por aquí. Soy Marta Blancart orgullosamente cordobesa, ciudad patrimonio por excelencia de Andalucía, súper responsable e
    inquieta, nunca llego tarde a ningún plan.
    Me encanta escribir,  fotografiar, ir de tiendas y romantizar las pequeñas cosas cotidianas.
     <br><br>
     Comencé este blog por una pequeña crisis al acabar la carrera. Estudié turismo para saciar la curiosidad de aquellos más cotillas. Pero a la hora de la verdad me di cuenta
     de que no era lo mio, que lo que a mi de verdad me apasionaba era viajar, conocer, fotografiar, explorar... Por lo que decidí liarme la manta a la cabeza y comenzar con
     esta aventura con la que a día de hoy no puedo estar más féliz y lo entenderéis cuando leáis mis reseñas. He conocido lugares y vivido experiencias maravillosas por lo que
     me veo en la necesidad de compartirlo con el mundo.
     <br><br>
     Espero que disfrutéis tanto como yo leyendo mis aventuras y que os inspiren y os animen a vivir una vida inolvidable.
     <br><br>
    Os dejo por aquí algunas de las fotos que más me gustan para ir abriendo boca,xoxo
  </p>
</div>

<div class="fotosDescripcion">
  <img src="assets/chicamadrid.jpg" alt="chicaMadrid" style=" max-width: 25%; height: auto; width: 25%; padding:25px;">
  <img src="assets/chicaroma.jpg" alt="chicaRoma" style=" max-width: 25%; height: auto; width: 25%; padding:25px;">
  <img src="assets/chicaparis.jpg" alt="chicaParis" style=" max-width: 25%; height: auto; width: 25%; padding:25px;">
</div>



