<div class="card">


  <div class="logo">
    <img src="assets/logo.jpg" alt="logo" (click)="getUserLogged()"style="max-width: 100px; padding: 10px;">
  </div>


    <div class="linkers">

      <a routerLink="/home">Inicio</a>
      <div class="dropdown">
        <button class="dropbtn">Ciudades</button>
        <div class="dropdown-content">
          <a routerLink="/roma">Roma</a>
          <a routerLink="/paris">París</a>
          <a routerLink="/madrid">Madrid</a>
        </div>
      </div>
      <a routerLink="/sobre-mi">Sobre mí</a>
    </div>

    <button (click)="openModal()" class="login"><i class="fa-solid fa-user"></i> Registrarse</button>

   <app-login *ngIf="modalOpen" (closeModalEvent)="closeModal()"></app-login>

  </div>











