<div class="card">


  <div class="logo">
    <img src="assets/logo.jpg" alt="logo" style="max-width: 100px; padding: 10px;">
  </div>


    <div class="linkers">

      <a routerLink="/home">Inicio</a>
      <a routerLink="/reseñas">Reseñas</a>
      <a routerLink="/sobre-mi">Sobre mí</a>
    </div>

    <button class="btn btn-primary" (click)="openModal()" class="login">Registrarse
    </button>
   <app-login *ngIf="modalOpen" (closeModalEvent)="closeModal()"></app-login>

  </div>











