<div class="card">


  <div class="logo">
    <img src="assets/logo.jpg" alt="logo"  style="max-width: 100px; padding: 10px;">
  </div>


    <div class="linkers">

      <a routerLink="/home">Inicio</a>
      <div class="dropdown">
        <button class="dropbtn">Ciudades</button>
        <div class="dropdown-content">
          <a routerLink="/roma">Roma</a>
          <a routerLink="/paris">París</a>
          <a routerLink="/madrid">Madrid</a>
        </div>
      </div>
      <a routerLink="/sobre-mi">Sobre mí</a>
    </div>

    <button *ngIf="mostrarBotonLogin" (click)="this.modalService.openLoginModal()" class="login"><i class="fa-solid fa-user"></i> Iniciar sesión</button>
    <div class="welcome" *ngIf="!mostrarBotonLogin">
     {{ welcomeMessage }}
    <button *ngIf="!mostrarBotonLogin" (click)="logOut()" class="logout">Cerrar sesión <i class="fa-solid fa-right-from-bracket"></i></button>
  </div>
   <app-login *ngIf="this.modalService.modalLoginOpen" (closeModalEvent)="this.modalService.closeLoginModal()"></app-login>



  </div>











