
.card {
  display: flex;
  align-items: center;
  justify-content: center;
 flex-direction: row;
  background-color:rgb(219, 246, 255);
}

.linkers {
  padding-left: 50px;
  display: flex;
  align-items: center;
}

.linkers a {
  margin-right: 20px;
  white-space: nowrap;
  text-decoration: none;
  color:black;

}

.login{
  padding-right: 30px;
  display:flex;
  align-items:flex-end;
  justify-content: right;
  margin-left: auto;
}



.social-icons
{
  margin-left: 5px;
}



