<div class="modal">
  <div class="modal-content">
    <div class="login">
      <form class="custom-form" method="post">
        <div class="headerModal">
          <h1>Inicio sesión</h1>
          <button class="close" (click)="closeLoginModal()"><i class="fa-solid fa-circle-xmark"></i></button>
        </div>

        <input
          type="email"
          [(ngModel)]="email"
          name="email"
          placeholder="Email"
          required="required"
        />

        <input
          type="password"
          [(ngModel)]="password"
          name="password"
          placeholder="Password"
          required="required"
        />
        <div *ngIf="errorMessage" class="error-message">
          {{ errorMessage }}
        </div>
        <button class="greenButton" type="submit" (click)="login()">Enviar</button>
        <div class="register">
          <h3>Si aún no tienes una cuenta:
            <a (click)="openRegisterModal()" class="register"> Crear cuenta</a>
            <app-register *ngIf="modalRegisterOpen" (closeModalEvent)="closeRegisterModal()"></app-register>
          </h3>
        </div>


      </form>

    </div>

  </div>
</div>
